<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KeblerCoin</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <!-- Poping Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
  </head>
  <body>
      <div class="hero">
          <nav>
              <img src="/static/logocoin.png" class = "logo" alt= "logo">
              <ul>
                  
              </ul>
              <a href="https://github.com/karitthorn/plantkub" class="exampleClass" ><div class="blacktext">Github</div></a>
          </nav>

          <div class="row">
              <div class="col-1">
                  <img src="/static/kepler.png" alt = "">
                  <img src="/static/elements.png" class="elements" alt = "">
              </div>
              <div class="col-2">
                  <h1>Plantkub</h1>
                  <br>
                  <div class="span">
                  <div class="flex-moisture">
                    <br>
                    &nbsp;&nbsp;<span>moisture</span>
                    <br><br>
                    &nbsp;&nbsp;<span>25%</span>
                    </div>
                    <br>
                    
                    <div class="flex-light">
                      <br>
                      
                      &nbsp;&nbsp;<span>light</span>
                      <br><br>
                      &nbsp;&nbsp;<span>75%</span>
                      </div>
                    
                    <br>
                      <a href="https://poocoin.app/tokens/0x0b1ff25171a1b43c03f30b5814475ba17e6e5f37" class="btn">เปิดไฟ</a><a href="https://poocoin.app/tokens/0x0b1ff25171a1b43c03f30b5814475ba17e6e5f37" class="btn">ปิดไฟ</a>
                      <a href="https://poocoin.app/tokens/0x0b1ff25171a1b43c03f30b5814475ba17e6e5f37" class="btn">รดน้ำต้นไม้</a>
            </div>
      </div>
  </body>
</html>